---

---

<div class="content">
  <div class="content-text">
    <h2>
      Somos una empresa con la mision de ayudar a las personas mas necesitadas,
      contando asi con fondos para la educación, la salud, el bienestar y la
      seguridad.
    </h2>

    <p>
      Nuestro objetivo es brindar una experiencia de trabajo en línea que sea
      agradable, eficiente y segura
    </p>

    <ul>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
      <li>LinkedIn</li>
    </ul>
  </div>

  <img
    src="https://www.gofundme.com/es-es/c/wp-content/uploads/sites/3/2019/10/young-girl-with-cancer-posing-with-doll.jpg?w=600"
    alt="paciente de cancer"
    width="600"
    height="400"
  />
</div>

<style>
  .content {
    width: 100%;
    max-width: 1400px;
    margin: 5rem auto 0 auto;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .content-text {
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  ul {
    display: flex;
    gap: 1rem;
  }

  li {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 1440px) {
    .content {
      margin: 5rem auto 0 auto;
      padding: 0 5rem;
    }
  }

  @media screen and (max-width: 1280px) {
    img {
      width: 80%;
    }
  }
</style>
